.testimonio {
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%; 
        margin-bottom: 0.9375rem; 
    }

    .testimonio__text {
        color: #f8e8d5;
        font-size: 1rem; 
        margin-bottom: 0.625rem; 
        font-style: italic;
    }

    .testimonio__nombres {
        color:  #f8e8d5;
        font-size: 1.2rem; 
        margin-bottom: 0.3125rem;
    }
}
